@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
	font-family: 'Quantum';
	src: url('/logos/Quantum.otf');
}

.quantum {
	font-family: 'Quantum';
}

@font-face {
	font-family: 'Inversionz';
	src: url('/logos/Inversionz.ttf');
}

.inversionz {
	font-family: 'Inversionz';
}

.RobotoMono {
	font-family: 'Roboto Mono';
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	background-color: black;
}

a {
	text-decoration: none;
}

p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

h1 {
	color: white;
	font-family: 'Roboto Mono';
}

a h1:hover {
	color: rgb(200, 200, 200);
}

h2 {
	font-family: 'Roboto Mono';
}

h3 {
	color: rgb(200, 200, 200);
	font-family: 'Roboto Mono';
}

a h3:hover {
	color: rgb(150, 150, 150);
}

img {
	width: auto;
	height: auto;
}

.PageSection {
	display: flex;
	flex-direction: column;
	background-color: rgb(10, 10, 10);
}
