.TopBar {
	display: flex;
	align-items: center;
	background: black;
	width: 100%;
}

.TopBar img {
	height: 128px;
}

@media (max-width: 480px) {
	.TopBar {
		flex-direction: column;
	}
}

@media (min-width: 1280px) {
	.TopBar {
		flex-direction: row;
	}

	.TopBar a {
		margin: 10px 20px;
	}
}
